<<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1><%= t('.title') %></h1>
  <br>
  <table class="table">
    <thead>
      <tr>
          <th><%= t('.message') %></th>
          <th><%= t('.created') %></th>
          <th><%= t('.read') %></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notifications.each do |notification| %>
        <% nt = notification.to_notification %>

        <tr>
            <td><%= link_to(nt.message, notification_path(notification)) %></td>
            <td><%= l(notification.created_at, format: :long) %></td>
            <td><%= notification.read_at ? l(notification.read_at, format: :long) : '' %></td>
          <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: t('.delete_confirmation') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @notifications %>

  <br>

</div>>