<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h3><%= t('.notification') %></h3>
  <%= @notification.event.message %>
  <%= link_to(t('.details'), @notification.event.url, class: "btn btn-light min-width-btn") %>
  <br>
  <%= link_to 'Back', notifications_path, class: "btn btn-light min-width-btn" %>
</div>