<div class="col">
  <%= link_to user, class: "text-decoration-none text-dark", title: user.username do %>
    <div class="card user-card h-100 shadow rounded-xl">
      <div class="card-body min-height-card">
        <div class="d-flex align-items-center">
          <%= image_tag user.avatar, class: "me-2 avatar-sm rounded-circle" %>
          <h5 class="card-title font-weight-bold mb-0"><%= user.username %></h5>
        </div>
        <p class="card-text card-padding mt-2">
          <%= t('.created_matches') %>: <%= user.played_games.size %><br>
          <%= t('.played_matches') %>: <%= user.played_matches.size %><br>
        </p>
      </div>
    </div>
  <% end %>
</div>