<div class="container-fluid">
  <% if notice %>
    <div class="alert alert-info mt-3" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="jumbotron mt-3">
    <h4><%= t('.players') %></h4>
  </div>

  <%= render partial: 'shared/search_form', locals: { search_field: :username_or_email_cont }, class: 'mt-3' %>

  <div class="nav nav-pills mt-3 container justify-content-center">
    <li class="nav-item px-2">
      <%= sort_link(@q, :username, t('.username'), class: 'nav-link') %>
    </li>
    <li class="nav-item px-2">
      <%= sort_link(@q, :played_matches_count, t('.played_matches'), class: 'nav-link') %>
    </li>
    <li class="nav-item px-2">
      <%= sort_link(@q, :played_games_count, t('.played_games'), class: 'nav-link') %>
    </li>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
    <% @users.each do |user| %>
      <%= render 'user_card', user: user %>
    <% end %>
  </div>

  <%= paginate @users, class: 'mt-3' %>
</div>