<div class="col-auto">
    <h4 class="app-card-title">Profile</h4>
  </div><!--//col-->
</div><!--//row-->
</div><!--//app-card-header-->
<div class="app-card-body px-4 w-100">
  <div class="item border-bottom py-3">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="item-label mb-2"><strong><%= t('.photo') %></strong></div>
        <div class="item-data"><img class="profile-image" src="assets/images/user.png" alt=""></div>
      </div><!--//col-->
    </div><!--//row-->
  </div><!--//item-->
  <div class="item border-bottom py-3">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="item-label"><strong><%= t('.username') %></strong></div>
          <div class="item-data"><%= @user.username %></div>
      </div><!--//col-->
    </div><!--//row-->
  </div><!--//item-->
  <div class="item border-bottom py-3">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <div class="item-label"><strong><%= t('.email') %></strong></div>
          <div class="item-data"><%= @user.email %></div>
      </div><!--//col-->
    </div><!--//row-->
  </div><!--//item-->
</div><!--//app-card-body-->
<div class="app-card-footer p-4 mt-auto">
  <a class="btn app-btn-secondary" href="#">Manage Profile</a>
</div><!--//app-card-footer-->
 
    



