<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div id="search-name" class="form-group search-data mb-3" data-names="<%= @names.to_json %>">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, autocomplete: :off, class: "form-control search-input", placeholder: "" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_text_area :description, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :author, class: "form-label" %>
    <%= form.text_field :author, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :bbg_link, class: "form-label" %>
    <%= form.text_area :bbg_link, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.text_area :image, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
