<div class="col-md-4">
  <div class="card mb-4">
    <% if game.main_image.attached? %>
      <%= image_tag(game.main_image, class: 'card-img-top max-size') %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title title-color"><%= link_to(game.name, game) %></h5>
      <div class="small text-muted rating-small description-color">
        <%= render partial: 'ratings/average_rating_stars', locals: { rateable: game } %>
      </div>
      <p class="card-text description-color"><i class="bi bi-book-fill icon-color"></i> <%= game.author %></p>
      <p class="card-text description-color"><i class="bi bi-person-circle icon-color"></i> <%= link_to(game.user.username, game.user, class: 'link-color') %></p>
      <p class="card-text description-color"><i class="bi bi-graph-up icon-color"></i> <%= game.matches.count %> <%= t('.played_matches') %></p>
      <p class="card-text description-color"><i class="bi bi-link-45deg icon-color"></i> <%= link_to('BGG Link', game.bbg_link, class: 'link-color') %></p>
      <%= link_to 'Edit', edit_game_path(game), class: "btn btn-primary match-button" if game.added_by == current_user %>
    </div>
  </div>
</div>