<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h4><%= t('.page_title') %></h4>
  <br>
  <%= render partial: 'shared/search_form', locals: { search_field: :name_or_user_username_or_author_cont } %>

  <div class="d-flex flex-column flex-md-row justify-content-around my-3 d-none d-md-flex">
    <%= sort_link(@q, :name, t('.name')) %>
    <%= sort_link(@q, :author, t('.author')) %>
    <%= sort_link(@q, :user_username, t('.added_by')) %>
    <%= sort_link(@q, :matches_count, t('.played_matches')) %>
    <%= sort_link(@q, :bgg_link, t('.bgg_link')) %>
  </div>

  <%# TODO: keep selected option after sorting %>
  <div class="d-md-none my-3">
    <%= search_form_for @q, url: request.path, method: :get, html: { onchange: "this.submit();" } do |f| %>
      <%= f.select :s, options_for_select([
        [t('.name'), 'name asc'],
        [t('.author'), 'author asc'],
        [t('.added_by'), 'user_username asc'],
        [t('.played_matches'), 'matches_count asc'],
        [t('.bgg_link'), 'bgg_link asc']
      ], @q.s || 'name asc'), class: "form-select" %>
    <% end %>
  </div>

  <div class="row">
    <% @games.each do |game| %>
      <%= render partial: 'game_card', locals: { game: game } %>
    <% end %>
  </div>

  <%= paginate @games %>

  <br>

  <%= link_to 'New Game', new_game_path, class: "btn btn-success min-width-btn" %>

</div>