<div class="container-fluid">
  <p id="notice"><%= notice %></p>

      <div class="form-group mb-3">
    <p><strong>Name:</strong></p>
    <div>
      <%= @game.name %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Description:</strong></p>
    <div>
      <%= @game.description %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Author:</strong></p>
    <div>
      <%= @game.author %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>User:</strong></p>
    <div>
      <%= @game.user_id %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Bbg link:</strong></p>
    <div>
      <%= @game.bbg_link %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Image:</strong></p>
    <div>
      <%= @game.image %>
    </div>
  </div>
  
  
  <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', games_path, class: "btn btn-light min-width-btn" %>
</div>