<div class="container-fluid">
  <% if notice %>
    <div class="alert alert-info" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="card mb-3">
    <div class="card-body">
      <% if allowed_pic?(@game.main_image) %>
        <%= link_to(image_tag(@game.image_as_thumbnail, class: 'img-fluid img-thumbnail'), @game.main_image) %>
        <%= link_to(t('attachments.delete_image'), purge_image_match_path(@game), method: :delete, class: 'btn btn-danger') if can_edit_game? %>
      <% end %>
      <h5 class="card-title"><%= @game.name %></h5>
      <p class="card-text"><%= @game.description %></p>
      <p class="card-text"><small class="text-muted"><%= t('.added_by') %>: <%= link_to(@game.added_by.username, @game.added_by) %></small></p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= t('.average_rating') %></h5>
      <%= render partial: 'ratings/average_rating_stars', locals: { rateable: @game } %>
      <h5 class="card-title"><%= t('.your_rating') %></h5>
      <%= render partial: 'ratings/user_rating_block', locals: { rateable: @game, user: current_user } %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= t('.author') %>: <%= @game.author %></h5>
      <p class="card-text"><%= t('.played_matches') %>: <span class="badge bg-primary"><%= @game.played_matches.count %></span></p>
      <p class="card-text"><%= t('.planned_matches') %>: <span class="badge bg-primary"><%= @game.planned_matches.count %></span></p>
      <p class="card-text"><%= t('.num_players') %>: <span class="badge bg-primary"><%= @game.players.count %></span></p>
      <p class="card-text"><%= t('.bgg_link') %>: <%= link_to(@game.bbg_link, @game.bbg_link) %></p>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= t('.game_pictures') %></h5>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @game.game_pictures.each_with_index do |pic, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= image_tag url_for(pic), class: 'd-block w-100' %>
              <% if can_edit_game? %>
                <%= link_to(t('attachments.delete_image'), purge_attachment_path(pic), method: :delete, class: 'btn btn-danger') %>
              <% end %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <% @game.game_pictures.each_with_index do |pic, index| %>
          <img src="<%= url_for(pic) %>" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="m-1" style="width: 60px; cursor: pointer;">
        <% end %>
      </div>
    </div>
  </div>

  <% if can_edit_game? %>
    <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-primary min-width-btn" %>
  <% end %>
  <%= link_to 'Back', games_path, class: "btn btn-light min-width-btn" %>

  <br>
  <%= render partial: 'games/reviews/new_review', locals: { game: @game, user: current_user } %>
  <%= render partial: 'games/reviews', locals: { game: @game, user: current_user } %>
  
  <%# <%= render partial: 'shared/comments_block', locals: { commentable: @game, user: current_user  } %>
</div>