<div class="card match-card">
  <% if allowed_pic?(match.image) %>
    <%= link_to(image_tag(match.image_as_thumbnail, class: 'card-img-top max-size'), match.image) %>
  <% end %>

  <div class="card-body">
    <h5 class="card-title title-color"><%= match.title %></h5>
    
    <p class="card-text description-color"><%= match.description %></p>

    <div class="card-text game-info">
      <i class="fas fa-dice icon-color"></i> <%= link_to(match.game_name, match.game, class: 'text-decoration-none link-color') %>
      <span class="icon-separator"></span>
      <i class="fas fa-user icon-color"></i> <%= link_to(match.creator_name, match.creator, class: 'text-decoration-none link-color') %>
    </div>
    
    <p class="card-text mt-3 game-info">
      <div class="info-container">
        <span class="nowrap">
          <i class="fas fa-calendar-alt icon-color"></i> <small class="date"><%= l(match.start_at, format: :short) %></small>
        </span>
        <span class="icon-separator"></span>
        <div class="location-container">
          <i class="fas fa-map-marker-alt icon-color"></i> <span><%= truncate(match.location, length: 25) %></span>
        </div>
      </div>
    </p>

    <div class="text-center mt-3">
      <%= link_to 'Go to Match', match, class: 'btn btn-sm btn-primary rounded-pill match-button' %>
    </div>
  </div>
</div>