<div class="card rounded">
  <% if allowed_pic?(match.image) %>
    <%= link_to(image_tag(match.image_as_thumbnail, class: 'card-img-top'), match.image) %>
  <% end %>

  <div class="card-body">
    
    <h5 class="card-title"><%= match.title %></h5>
    
    <p class="card-text"><%= match.description %></p>

    <div class="card-text"><%= link_to(match.game_name, match.game, class: 'text-decoration-none') %></div>
    <div class="card-text"><%= link_to(match.creator_name, match.creator, class: 'text-decoration-none') %></div>
    
    <p class="card-text"><small class="text-muted"><%= l(match.start_at, format: :short) %></small></p>

    <div class="text-center">
      <%= link_to(t('.go_to_match'), match, class: 'btn btn-info btn-sm') %>
    </div>  
  </div>
</div>