<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(match.errors.count, "error" ) %> prohibited this match from being saved:
      </h2>

      <ul>
        <% match.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
          <% end %>
      </ul>
    </div>
    <% end %>

      <%= form.hidden_field :user_id, value: current_user.id %>

        <div class="form-group mb-3">
          <%= form.label :title, class: "form-label" %>
            <%= form.text_area :title, class:"form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :game_id %>
            <%= form.collection_select :game_id, Game.all, :id, :name, { prompt: true }, { class: "form-select" } %>
        </div>

        <div id="search-username" class="form-group search-data mb-3" data-usernames="<%= @usernames.to_json %>">
          <%= form.label :invite_users, class: "form-label" %>
          <%= form.text_field :usernames, autocomplete: :off, class: "form-control search-input" , placeholder: "" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :description, class: "form-label" %>
            <%= form.text_area :description, class:"form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :location, class: "form-label" %>
            <%= form.text_area :location, class:"form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :number_of_players, class: "form-label" %>
            <%= form.number_field :number_of_players, class:"form-control" %>
        </div>

        <div class="form-group mb-3">
          <%= form.label :inicio, class: "form-label" %>
            <%= form.text_field :start_at, class: 'flatpickr form-control' %>
        </div>
        <div class="form-group mb-3">
          <%= form.label :fin, class: "form-label" %>
            <%= form.text_field :end_at, class: 'flatpickr form-control' %>
        </div>

        <div class="form-group mb-3">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
        <div class="col-md-auto"> </div>
        <% end %>
