<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1><%= t('.page_title') %></h1>
  <br>
  <%= render partial: 'shared/search_form', locals: { search_field: :title_or_user_username_or_game_name_cont } %>

  <table class="table">
    <thead>
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <%= sort_link(@q, :start_at, t('.start_at'), class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= sort_link(@q, :end_at, t('.end_at'), class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= sort_link(@q, :title, t('.title'), class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= sort_link(@q, :user_username, t('.creator'), class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= sort_link(@q, :game_name, t('.game'), class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= sort_link(@q, :number_of_players, t('.number_of_players'), class: 'nav-link') %>
        </li>
      </ul>
    </thead>

    <tbody>
      <%= render partial: 'card_grid', locals: { matches: @matches } %>
    </tbody>
  </table>
  <%= paginate @matches %>

  <br>

  <%= link_to 'New Match', new_match_path, class: "btn btn-success min-width-btn" %>

</div>
