<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1><%= t('.page_title') %></h1>

  <table class="table">
    <thead>
      <tr>
          <th><%= t('.title') %></th>
          <th><%= t('.creator') %></th>
          <th><%= t('.game') %></th>
          <th><%= t('.number_of_players') %></th>
          <th><%= t('.current_participants') %></th>
          <th><%= t('.start_at') %></th>
          <th><%= t('.end_at') %></th>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @matches.each do |match| %>
        <tr>
            <td><%= link_to(match.title, match) %></td>
            <td><%= link_to(match.creator.username, match.creator) %></td>
            <td><%= link_to(match.game.name, match.game) %></td>
            <td><%= match.number_of_players %></td>
            <td><%= match.participants.count %></td>
            <td><%= l(match.start_at, format: :long) %></td>
            <td><%= l(match.end_at, format: :long) %></td>
            <td><%= link_to('Edit', edit_match_path(match)) if current_user == match.user %></td>
            <td><%= link_to('Destroy', match, method: :delete, data: { confirm: 'Are you sure?' }) if current_user == match.user  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @matches %>

  <br>

  <%= link_to 'New Match', new_match_path, class: "btn btn-success min-width-btn" %>

</div>