<div class="container-fluid">
  <p id="notice" class="alert alert-info">
    <%= notice %>
  </p>

  <div class="card shadow-sm rounded mb-4">
    <div class="card-body">
      <h4 class="card-title title-color text-center"><%= @match.title %></h4>

      <% if allowed_pic?(@match.image) %>
        <div class="text-center">
          <%= link_to(image_tag(@match.image_as_thumbnail, class: 'img-fluid img-thumbnail'), @match.image) %>
          <%= link_to(t('attachments.delete_image'), purge_image_match_path(@match), method: :delete, class: 'btn btn-danger') if can_edit_match? %>
        </div>
      <% end %>

      <p class="card-text description-color mt-3"><%= @match.description %></p>

      <div class="row mt-3">
        <div class="col-md-6">
          <i class="fas fa-user icon-color"></i> <%= link_to(@match.creator.username, @match.creator, class: 'link-color') %>
          <i class="fas fa-dice icon-color ml-3"></i> <%= link_to(@match.game.name, @match.game, class: 'link-color') %>
        </div>
        <div class="col-md-6">
          <i class="fas fa-users icon-color"></i> <%= @match.number_of_players %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6">
          <i class="fas fa-calendar-alt icon-color"></i> <%= l(@match.start_at, format: :long) %>
        </div>
        <div class="col-md-6">
          <i class="fas fa-calendar-check icon-color"></i> <%= l(@match.end_at, format: :long) %>
        </div>
      </div>

      <% if can_participate? && !already_participating? %>
        <%= button_to t('.join') , match_participants_path(match_id: @match, user_id: current_user.id), class: "btn btn-sm btn-primary rounded-pill match-button mt-3" %>
      <% end %>

      <div class="row mt-3">
        <div class="col-md-6">
          <i class="fas fa-users icon-color"></i> Participants
          <ul class="list-unstyled">
            <% @match.match_participants.each do |participant| %>
              <li class="mb-2"><%= link_to participant.user.username, participant.user, class: 'link-color' %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-6">
          <i class="fas fa-envelope icon-color"></i> Invitees
          <ul class="list-unstyled">
            <% @match.invitees.each do |invitee| %>
              <li class="mb-2"><%= link_to invitee.username, invitee, class: 'link-color' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <strong class="title-color"><%= t('.pictures') %></strong>
    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-start">
      <% if @match.pictures.any? %>
        <% @match.pictures.each do |pic| %>
          <div class="col-lg-3 col-md-4 col-6">
            <%= link_to(image_tag(picture_as_thumbnail(pic), class: 'img-fluid img-thumbnail'), pic, class: 'd-block mb-4 h-100', data: { lightbox: 'gallery' }) %>
          </div>
          <%= link_to(t('attachments.delete_image'), purge_attachment_path(pic), method: :delete, class: 'btn btn-danger') if can_edit_match? %>
        <% end %>
      <% else %>
        <p class="text-muted">No pictures have been uploaded yet.</p>
      <% end %>
    </div>
  </div>
  
  <%= link_to t('.edit') , edit_match_path(@match), class: "btn btn-sm btn-primary rounded-pill match-button mt-3" if can_edit_match? %>

  <%= render partial: 'shared/comments_block', locals: { commentable: @match, user: current_user } %>
</div>