<div class="container-fluid">
  <p id="notice">
    <%= notice %>
  </p>

  <div class="form-group mb-3">
    <p><strong><%= t('.title') %>:</strong></p>
    <div>
      <%= @match.title %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.description') %>:</strong></p>
    <div>
      <%= @match.description %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.creator') %>:</strong></p>
    <div>
      <%= link_to(@match.creator.username, @match.creator) %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.game') %>:</strong></p>
    <div>
      <%= link_to(@match.game.name, @match.game) %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.location') %>:</strong></p>
    <div>
      <%= @match.location %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.number_of_players') %>:</strong></p>
    <div>
      <%= @match.number_of_players %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.invited_users') %>:</strong></p>
    <div>
      <% User.where(username: @match.invited_users).each do |invitee| %>
        <%= link_to(invitee.username, invitee) %>
      <% end %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.joined_players') %>:</strong></p>
    <div>
      <% @match.participants.each do |participant| %>
        <%= link_to(participant.username, participant) %>
      <% end %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.start_at') %>:</strong></p>
    <div>
      <%= l(@match.start_at, format: :long) %>
    </div>
  </div>

  <div class="form-group mb-3">
    <p><strong><%= t('.end_at') %>:</strong></p>
    <div>
      <%= l(@match.end_at, format: :long) %>
    </div>
  </div>

  <% if can_participate? && !already_participating? %>
    <%= button_to t('.join') , match_participants_path(match_id: @match, user_id: current_user.id), class: "btn app-btn-primary theme-btn mx-auto" %>
  <% end %>

  <%= link_to t('.edit') , edit_match_path(@match), class: "btn btn-primary min-width-btn" %>
  <%= link_to t('.back') , matches_path, class: "btn btn-light min-width-btn" %>
</div>

<h4><%= t('.comments') %></h4>
<%= render partial: 'comments/form', locals: { comment:Comment.new, commentable: @match } %>
