<div class="card mb-3 review-card">
  <div class="card-body p-2 mb-3">
    <div class="d-flex align-items-start">
      <% user = review.user %>
      <%= image_tag user.avatar, class: "me-2 avatar-sm rounded-circle" %>
      <div class="w-100">
        <h5 class="mt-0"><%= user.username %><small class="text-muted"> <%= time_ago_in_words(review.created_at)%></small></h5>
        <h6 class="mt-0">Review for <%= review.game.name %></h6>
        <% if rating = user.rating_for(review.game) %>
          <div class="rating-small">
            <%= render partial: 'ratings/user_rating_stars', locals: { rating: rating } %>
          </div>
        <% end %>
        <p class="card-text"><%= review.content %></p>
        
        <% liked = local_assigns[:liked] || false %>
        <%= render partial: 'shared/vote_with_heart', locals: { likeable: review, liked: liked } %>
      </div>
    </div>
  </div>
</div>