<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Your App</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to dashboard_path, class: 'nav-link active', aria_current: 'page' do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Dashboard
      <% end %>
    </li>
    <li>
      <%= link_to matches_path, class: 'nav-link' do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Matches
      <% end %>
    </li>
    <li>
      <%= link_to games_path, class: 'nav-link' do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Games
      <% end %>
    </li>
    <li>
      <%= link_to users_path, class: 'nav-link' do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Players
      <% end %>
    </li>
    <li>
      <%= link_to notifications_path, class: 'nav-link' do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#bell"></use></svg>
        Notifications
      <% end %>
    </li>
    <li>
      <%= link_to matches_calendar_path, class: 'nav-link' do %>
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#calendar3"></use></svg>
        Calendar
      <% end %>
    </li>
  </ul>
  <hr>
</div>
