<!DOCTYPE html>
<html>
  <head>
    <title>Alto Consejo</title>

	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="El lugar donde planificar tus eventos de juego.">
    <meta name="author" content="Unai Trecet">
    <meta name="turbo-visit-control" content="reload">
    
    <link rel="shortcut icon" href="favicon.ico">

    <%= favicon_link_tag asset_path('favicon') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="app" data-current-user-id="<%= current_user&.id %>">
    <header class="app-header fixed-top">
      <%= render partial: 'navigation/header_menu' %>
      <%= render partial: 'navigation/sidebar' %>
    </header><!--//app-header-->
      <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
          <div class="container-xl">
            <div id="alert-container"></div>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
                <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
        <%= render partial: 'navigation/footer' %>
        <!--//app-footer-->     
      </div>
    
  </body>

</html>
