<!DOCTYPE html>
<html>
  <head>
    <title>Alto Consejo</title>

	  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="El lugar donde planificar tus eventos de juego.">
    <meta name="author" content="Unai Trecet">

    <link rel="shortcut icon" href="favicon.ico">

    <%= favicon_link_tag asset_path('favicon') %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="app">
    <header class="app-header fixed-top">
      <%= render partial: 'navigation/header_menu' %>
      <%= render partial: 'navigation/sidebar' %>
    </header><!--//app-header-->
      <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
          <div class="container-xl">
            <!-- <p class="notice"><%= notice %></p>
             <p class="alert"><%= alert %></p> %> -->
            
            <%= yield %>
          </div>
        </div>
        <%= render partial: 'navigation/footer' %>
        <!--//app-footer-->     
      </div>
    
  </body>

</html>
